<div class="fields-container">
	<div [hidden]="bookUpdated">
		
		<h3 style="margin-top: 30px;">Update Book Information<span style="font-size: small;">* is a required field</span></h3>

		<form (ngSubmit)="onSubmit()">

			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field>
					<input type="text" name="title" matInput id="title" required="required" [(ngModel)]="book.title" placeholder="Title">	

					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>


			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="text" name="author" matInput id="author" required="required" [(ngModel)]="book.author" placeholder="Author">	

					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="text" name="publisher" matInput id="publisher" required="required" [(ngModel)]="book.publisher" placeholder="Publisher">	

					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			

			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field>
					<input type="date" name="publicationDate" matInput id="publicationDate" required="required" [(ngModel)]="book.publicationDate" placeholder="Publication Date">	

					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>


			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-select placeholder="Category" id="category" name="category"
					[(ngModel)]="book.category">
						<mat-option value="Management">Managment</mat-option>
						<mat-option value="Fiction">Fiction</mat-option>
						<mat-option value="Engineering">Engineering</mat-option>
						<mat-option value="Programming">Programming</mat-option>
						<mat-option value="Arts &amp; Literature">Arts &amp; Literature</mat-option>
					</mat-select>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-select placeholder="Format" id="format" name="format"
					[(ngModel)]="book.format">
						<mat-option value="paperback">Paperback</mat-option>
						<mat-option value="hardcover">Hardcover</mat-option>
					</mat-select>
				</mat-grid-tile>
			</mat-grid-list>



			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="number" name="numberOfPages" matInput id="pageNumber"  [(ngModel)]="book.numberOfPages" placeholder="Number of Pages" step="1">	

					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="text" name="isbn" matInput id="isbn" [(ngModel)]="book.isbn" placeholder="ISBN">	

					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			

			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="number" name="listPrice" matInput id="listPrice"  [(ngModel)]="book.listPrice" placeholder="List Price" step="0.01">	

					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="number" name="ourPrice" matInput id="ourPrice" [(ngModel)]="book.ourPrice" placeholder="Our Price" step="0.01">	

					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			
			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="number" name="shippingWeight" matInput id="shippingWeight"  [(ngModel)]="book.shippingWeight" placeholder="Shipping Weight " step="0.01">	

					</mat-form-field>&nbsp;ounces &nbsp;
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-select placeholder="Language" id="language" name="language"
					[(ngModel)]="book.language">
						<mat-option value="english">English</mat-option>
						<mat-option value="spanish">Spanish</mat-option>
					</mat-select>
				</mat-grid-tile>
			</mat-grid-list>

			

			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field>
					<input type="number" name="inStockNumber" matInput id="inStockNumber"  [(ngModel)]="book.inStockNumber" placeholder="Number In Stock " step="0.01">	

					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					&nbsp;
					<mat-slide-toggle 
					[color]="color"[checked]="checked"[disabled]="disabled"
					[(ngModel)]="book.active"name="active">Active
					</mat-slide-toggle> 
				</mat-grid-tile>
			</mat-grid-list>

			 <mat-grid-list cols="4" rowHeight="60px">
				
			</mat-grid-list> 


			 <!-- <mat-form-field> -->
				<textarea class="full-width" mdInput id="description" [(ngModel)]="book.description" name="description" placeholder="Description" required="required" ></textarea><br/>
			<!-- </mat-form-field> -->
			Image &nbsp;
			<input id="tile" type="file" id="bookImage" name="bookImage" 
			(change)="uploadImageService.fileChangeEvent($event)"> <br/><br/>

			<mat-grid-list cols="20" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<button class="mat-primary" mat-raised-button type="submit">Update Book</button>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
						<a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
				</mat-grid-tile>
			</mat-grid-list>
			


		</form>

	</div>
	<div class="row" [hidden]="!bookUpdated">
		<h3>Book updated successfully!</h3>

	</div>
</div>
